body {
  background-color: lightgray;
  color: gray;
  font-family: serif;
  font-size: 1rem;
  margin: 5%;
}

em {
  color: black;
  font-style: normal;
  font-weight: bold;
}

button {
  background-color: lightgray;
  border: none;
  color: gray;
  font-family: serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

button:active {
  color: black;
}

td {
  vertical-align: text-top;
}

.scroll {
  max-height: 500px;
  overflow-y: scroll;
}

input {
  background-color: lightgray;
  border: solid gray 1px;
  font-family: serif;
}

#wordCount {
  color: #aaa;
}
