:root {
  /* --bg: seashell;
  --text: #888;
  --sonnet: #bbb;
  --em: tomato;
  --em2: cornflowerblue;
  --accent: #ccc; */

  --bg: #224;
  --text: aliceblue;
  --sonnet: lightsteelblue;
  --em: magenta;
  --em2: #ddd;
  --accent: lightslategray;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: sans-serif;
  font-size: 1rem;
  margin: 2% 5%;
}

em {
  color: var(--em);
  font-style: normal;
  font-weight: bold;
}

.em2, a {
  color: var(--em2);
  text-decoration: none;
}

button {
  background-color: var(--bg);
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

td {
  color: var(--sonnet);
  vertical-align: text-top;
}

#wordList {
  width: 150px;
}

.scroll {
  height: 500px;
  overflow-y: scroll;
}

input {
  background-color: var(--bg);
  color: var(--text);
  border: solid var(--text) 1px;
  margin: 2px;
  padding: 2px;
}

label {
  color: var(--text);
}

#wordCount {
  color: var(--accent);
}

.note {
  color: var(--sonnet);
  margin-top: 29px;
}
